div.container {
  margin-top: 100px;

  background-color: rgb(178, 242, 178);
  height: fit-content;
  width: fit-content;
}
button {
  object-position: center;
  width: fit-content;
}
p {
  color: rgb(192, 126, 4);
  font-family: Impact, Haettenschweiler, "Arial Narrow Bold", sans-serif;
}
h2 {
  background-color: red;
  padding: 20px;
  display: none;
  width: fit-content;

  font-size: 100px;
}
h1:hover + h2 {
  display: block;
}
